*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mens_conatiner_men{
    width: 100%;
}
.redmen{
    margin-top: 150px;
    margin-bottom: 100px;
}
.mens_text{
    padding: 0px 15px;
    text-align: left;
    width: 70%;
    margin: auto;
    margin-bottom: 100px;
}
.mens_gallery{
    width: 100%;
   
}
.card_container{
    margin-right: 15px;
    margin-bottom: 30px;
}
.card_wraper{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
.mens_cards_text>p{
    margin-top: 10px;
    text-align: left;
    line-height: 10px;
    text-decoration: none !important;
    color: black;
}